/* Page */
.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0b0b0b, #1e3c2f);
}

/* Card */
.auth-card {
  position: relative;
  width: 550px;
  padding: 80px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 32px !important;
  height: 32px !important;

  padding: 0 !important;
  margin: 0 !important;

  background: rgba(27, 84, 35, 0.2) !important;
  color: #fff !important;

  border: none;
  border-radius: 50% !important;

  display: flex !important;
  align-items: center;
  justify-content: center;

  font-size: 20px !important;
  cursor: pointer;

  z-index: 1000;
}

.close-button:hover {
  background: rgba(17, 185, 73, 0.4);
}

/* Title */
.auth-card h2 {
  margin-bottom: 10px;
  color: #2ecc71;
}

/* Inputs */
.auth-card input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #1e1e1e;
  color: white;
}

/* Password field */
.password-field {
  position: relative;
}

.password-field span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Submit Button ONLY */
.submit-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #2ecc71;
  color: white;
  cursor: pointer;
}

.submit-btn:hover {
  background: #27ae60;
}

/* Spinner */
.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Error */
.error {
  color: #ff4d4d;
  font-size: 14px;
}

/* Switch */
.switch {
  margin-top: 10px;
  font-size: 14px;
}

.switch span {
  color: #2ecc71;
  cursor: pointer;
  margin-left: 5px;
}