/* ================= NAVBAR ================= */
.header {
  position: sticky;
  top: 0;
  z-index: 200;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 55px;
  padding: 0 48px;

  background: linear-gradient(90deg, #156912, #141513fb);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.45);

  animation: slideDown 0.6s ease;
}

/* ================= LOGO ================= */
.logo a {
  font-size: 1.6rem;
  font-weight: 700;
  color: #eafff5;
  text-decoration: none;
  letter-spacing: 0.5px;
}

/* ================= LINKS ================= */
.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  position: relative;
  font-size: 0.95rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.25s ease;
}

/* Hover underline animation */
.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #10a37f;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: #10a37f;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* ================= MOBILE ================= */
@media (max-width: 850px) {
  .header {
    padding: 0 20px;
  }

  .nav-links {
    gap: 20px;
  }

  .nav-links li a {
    font-size: 0.85rem;
  }
}

/* ================= ANIMATION ================= */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.logout-btn {
  background: #2ecc71;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  background: #27ae60;
}


.profile-container {
  position: relative;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 50px;

  background: #1e1e1e;
  color: white;

  padding: 15px;
  border-radius: 10px;
  width: 200px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  z-index: 999;
}

.profile-dropdown p {
  margin: 5px 0;
}

.profile-dropdown button {
  width: 100%;
  margin-top: 8px;
  padding: 8px;

  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.profile-dropdown button:hover {
  background: #2ecc71;
  color: white;
}


.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
  text-transform: uppercase;
}